@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
 background: radial-gradient(circle at 20% 30%, #4f9dd9, transparent 60%),
              radial-gradient(circle at 80% 20%, #f06a46, transparent 60%),
              radial-gradient(circle at 70% 80%, #e2c73c, transparent 60%),
              radial-gradient(circle at 10% 60%, #2c642e, transparent 60%);
  background-blend-mode: screen;
  color: #1f2937; /* Tailwind's text-gray-800 */
  background-attachment: fixed;
  color: #1f2937;
}